.jumbotron {
	font-family:'Trebuchet MS', sans-serif;
	background-color: lightsteelblue !important;
	margin-bottom: 0px;
}

.navbar{
	margin-bottom: 2rem;
}

.pad-l1 {
	padding-left: 1em;
	padding-right: 1em;
}

ul {
    list-style: none;
    padding-left: 1em;
}