.jumbotron {
	font-family:'Trebuchet MS', sans-serif;
	background-color: lightsteelblue !important;
}

.jumbotron.fixed-bottom {
    margin-bottom: 0 !important;
}

#bottom-jumbotron { margin-bottom: 0; }

.navbar {
	margin: 0;
}

.pad-l1 {
	padding-left: 1em;
	padding-right: 1em;
}

ul {
    list-style: none;
    padding-left: 1em;
}